/* Common Styles */
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
/* End of Common styles */

/* Home page Styles */

.container
{
	min-height: 1500vh;
	position: relative;
}
.banner
{
	position: fixed;
	width: 100%;
	height: 100vh;
}

.banner video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header {
	position: fixed;
	top: 50%;
}	
.heading-text{
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 200;
	margin: auto;
}

.heading {
	font-size: 8rem;
	color: var(--white-color);
}
  
.header-paragraph {
	font-size: 3rem;
	font-weight: 500;
	color: var(--secondary-color);
	max-width: 70rem;
	margin: auto;
}

/* End of Home page Styles */